.techwix-hero-section-06 .hero-images {
  padding-top: 0px;
}

.techwix-hero-section-06 .hero-content .sub-title {
  font-size: 16px;
}

@media only screen and (max-width: 1199px) {
  .techwix-hero-section-06 .hero-content .title {
    font-size: 65px;
  }
}

.techwix-hero-section-06 .hero-content p {
  font-size: 30px;
}

.techwix-service-section-07 .experience-wrap .experience {
  text-align: center;
}

.techwix-service-section-07 .experience-wrap .experience .number {
  font-size: 100px;
}

.techwix-service-section-07 .experience-wrap .experience span {
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .techwix-hero-section-06 .hero-content .title {
    font-size: 44px;
  }

  .techwix-hero-section-06 .hero-content .hero-btn .btn-4 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
  }
}

.techwix-hero-section-06 .hero-content .hero-btn .btn-4 {
  margin-top: 0px;
  margin-bottom: 30px;
}

.techwix-hero-section-06 .hero-content {
  padding-top: 0px;
}

.max-width-auto {
  max-width: auto;
}

.breez-img {
  width: 100%;
  height: 60px;
  margin-bottom: 60px;
}

.breez-img-src {
  height: 60px;
  float: right;
}

.images {
  height: 75vh;
}

.techwix-cta-section-03 .cta-wrap {
  padding: 30px;
}

.cta-qa-leaders {
  margin-top: 50px;
}

.breez-landing-img {
  height: 80vh;
}

@media only screen and (max-width: 449px) {
  .techwix-service-section-07 .experience-wrap .shape-1 {
    width: 400px;
    left: 0;
    top: -65px;
  }

  .techwix-service-section-07 .experience-wrap .experience .number {
    font-size: 60px;
  }

  .techwix-service-section-07 .experience-wrap .experience {
    width: 250px;
    height: 250px;
    padding: 80px 65px;
    left: 0;
    top: 0;
  }
}
