.play-btn-02 {
  left: 15%;
  top: 75%;
}

.techwix-about-section-04 .about-img-wrap .about-img-sm {
  left: 0px;
  top: 8%;
  bottom: auto;
}

// .techwix-cta-section-03 .cta-wrap {
//   padding: 30px;
// }
