<!-- Hero Start -->
<div
  class="section techwix-hero-section-03 d-flex align-items-center"
  style="
    background-image: url(assets/images/tsq/industries/insurance/insurance-banner-1.jpg);
  "
>
  <div class="shape-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="944px" height="894px">
      <defs>
        <linearGradient id="PSgrad_0" x1="88.295%" x2="0%" y1="0%" y2="46.947%">
          <stop offset="0%" stop-color="rgb(67,186,255)" stop-opacity="1" />
          <stop offset="100%" stop-color="rgb(113,65,177)" stop-opacity="1" />
        </linearGradient>
      </defs>
      <path
        fill-rule="evenodd"
        fill="rgb(43, 142, 254)"
        d="M39.612,410.76 L467.344,29.823 C516.51,-13.476 590.638,-9.94 633.939,39.612 L914.192,317.344 C957.492,366.50 953.109,440.638 904.402,483.939 L476.671,864.191 C427.964,907.492 353.376,903.109 310.76,854.402 L29.823,576.670 C-13.477,527.963 -9.94,453.376 39.612,410.76 Z"
      />
      <path
        fill="url(#PSgrad_0)"
        d="M39.612,410.76 L467.344,29.823 C516.51,-13.476 590.638,-9.94 633.939,39.612 L914.192,317.344 C957.492,366.50 953.109,440.638 904.402,483.939 L476.671,864.191 C427.964,907.492 353.376,903.109 310.76,854.402 L29.823,576.670 C-13.477,527.963 -9.94,453.376 39.612,410.76 Z"
      />
    </svg>
  </div>
  <div class="container banner-text d-none d-md-block">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <!-- Hero Content Start -->
        <div class="hero-content">
          <!-- <h3 class="sub-title" data-aos-delay="600" data-aos="fade-up"></h3> -->
          <h2 class="title" data-aos="fade-up" data-aos-delay="800">
            Insurance Quality Engineering at Scale
          </h2>
          <!-- <p data-aos="fade-up" data-aos-delay="900">
            Accelerating Assured, Compliant, and Customer-Centric Insurance
            Platforms
          </p> -->
        </div>
        <!-- Hero Content End -->
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->

<!-- Service Start -->
<div
  class="section techwix-service-section-03"
  style="background-image: url(assets/images/bg/service-bg3.jpg)"
>
  <div class="container">
    <!-- Service Wrap Start -->
    <div class="service-wrap-03">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item-03">
            <!-- <div class="service-img">
              <img src="assets/images/ser-icon9.png" alt="" />
            </div> -->
            <div class="service-content">
              <h3 class="title"><a>LIFE/ASIA</a></h3>
              <p>
                Accelerate innovation with world-class tech teams We’ll match
                you to an entire remote team of incredible freelance talent.
              </p>
            </div>
          </div>
          <!-- Service Item End -->
        </div>
        <div class="col-xl-3 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item-03">
            <!-- <div class="service-img">
              <img src="assets/images/ser-icon10.png" alt="" />
            </div> -->
            <div class="service-content">
              <h3 class="title"><a>Ingenium</a></h3>
              <p class="hero-description">
                Accelerate innovation with world-class tech teams We’ll match
                you to an entire remote team of incredible freelance talent.
              </p>
            </div>
          </div>
          <!-- Service Item End -->
        </div>
        <div class="col-xl-3 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item-03">
            <!-- <div class="service-img">
              <img src="assets/images/ser-icon11.png" alt="" />
            </div> -->
            <div class="service-content">
              <h3 class="title"><a>FirstGen</a></h3>
              <p>
                Accelerate innovation with world-class tech teams We’ll match
                you to an entire remote team of incredible freelance talent.
              </p>
            </div>
          </div>
          <!-- Service Item End -->
        </div>
        <div class="col-xl-3 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item-03">
            <!-- <div class="service-img">
              <img src="assets/images/ser-icon12.png" alt="" />
            </div> -->
            <div class="service-content">
              <h3 class="title">
                <a>Guidewire</a>
              </h3>
              <p class="hero-description">
                Accelerate innovation with world-class tech teams We’ll match
                you to an entire remote team of incredible freelance talent.
              </p>
            </div>
          </div>
          <!-- Service Item End -->
        </div>
      </div>
    </div>
    <!-- Service Wrap End -->
    <p class="tesquirel-hero-content">
      TesQuirel Solutions enables insurers to deliver defect-free, compliant,
      and faster releases across complex insurance ecosystems by combining
      domain-aligned quality engineering with AI-powered and no-script
      automation platforms.
    </p>
  </div>
</div>
<!-- Service End -->

<!-- About Start -->
<div
  class="section techwix-about-section-04 section-padding padding-top-bottom"
>
  <div class="shape-1"></div>
  <div class="container">
    <!-- About Wrapper Start -->
    <div class="about-wrap">
      <div class="row">
        <div class="col-lg-6">
          <!-- About Content Wrap Start -->
          <div class="about-content-wrap">
            <div class="section-title">
              <h3 class="sub-title">Confidence in Coverage</h3>
              <h2 class="title">The Insurance QA Challenge</h2>
            </div>
            <p class="text">
              Insurance platforms are inherently complex, governed by
              regulations, and highly configurable. QA teams face persistent
              challenges such as:
            </p>
            <div class="service-content">
              <div class="service-list">
                <ul class="unordered-list">
                  <li>
                    <i class="fas fa-check"></i>Frequent product, pricing, and
                    rule changes
                  </li>
                  <li>
                    <i class="fas fa-check"></i>Complex policy lifecycle
                    workflows
                  </li>
                  <li>
                    <i class="fas fa-check"></i>High dependency on legacy core
                    systems
                  </li>
                  <li>
                    <i class="fas fa-check"></i>Multi-channel customer journeys
                    (agent, web, mobile)
                  </li>
                  <li>
                    <i class="fas fa-check"></i>Stringent regulatory and audit
                    requirements
                  </li>
                  <li>
                    <i class="fas fa-check"></i>Long regression cycles impacting
                    time-to-market
                  </li>
                </ul>
              </div>
            </div>
            <p class="text">
              Traditional script-based automation struggles to keep pace with
              this complexity.
            </p>
            <!-- About Author Info Wrap Start -->
            <!-- <div class="about-author-info-wrap">
              <div class="about-author">
                <img src="assets/images/sign.png" alt="" />
                <h3 class="name">Alen Morno sin</h3>
                <span class="designation">CEO, Techmax</span>
              </div>
              <div class="about-info">
                <p>Call to ask any question</p>
                <h3 class="number">0123-456-7890</h3>
              </div>
            </div> -->
            <!-- About Author Info Wrap End -->
          </div>
          <!-- About Content Wrap End -->
        </div>
        <div class="col-lg-6">
          <!-- About Image Wrap Start -->
          <div class="about-img-wrap">
            <div class="play-btn-02">
              <a
                class="popup-video"
                href="https://www.youtube.com/watch?v=Ey201JYzfEE&list=PLUypJpI6ltfGxkY8fv_2PNGUFtwS9jvCw&index=1"
                target="_blank"
                ><i class="fas fa-play"></i
              ></a>
            </div>
            <div class="about-img about-img-big">
              <img
                src="assets/images/tsq/industries/insurance/insurance-qa-challenges-2.jpg"
                alt=""
              />
            </div>
            <div class="about-img about-img-sm">
              <img
                src="assets/images/tsq/industries/insurance/insurance-qa-challenges-1.jpg"
                alt=""
              />
            </div>
          </div>
          <!-- About Image Wrap End -->
        </div>
      </div>
    </div>
    <!-- About Wrapper End -->
  </div>
</div>
<!-- About End -->

<!-- Service Start -->
<div class="section techwix-service-section-05 padding-top-bottom">
  <div class="container">
    <!-- Service Wrap Start -->
    <div class="service-wrap section-padding-02">
      <div class="section-title text-center">
        <h3 class="sub-title">Built for Insurance</h3>
        <h2 class="title">TesQuirel’s Insurance-Focused QA Approach</h2>
        <p>
          We combine deep insurance domain expertise with modern automation
          platforms to help insurers shift from slow, brittle testing to
          intelligent, scalable quality engineering.
        </p>
      </div>
      <div class="service-content-wrap">
        <div class="row">
          <div class="col-xl-4 col-sm-6">
            <!-- Service Item Start -->
            <div class="service-item-04">
              <div class="service-img">
                <img
                  src="assets/images/tsq/logo/breez-logo-icon.png"
                  alt="No-Script End to End Test Automation"
                />
              </div>
              <div class="service-content">
                <h3 class="title"><a>Breez</a></h3>
                <p>No-Script End to End Test Automation</p>
              </div>
            </div>
            <!-- Service Item End -->
          </div>
          <div class="col-xl-4 col-sm-6">
            <!-- Service Item Start -->
            <div class="service-item-04">
              <div class="service-img">
                <img
                  src="assets/images/tsq/logo/veritai-logo-icon.png"
                  alt="VeritAI"
                />
              </div>
              <div class="service-content">
                <h3 class="title"><a>VeritAI</a></h3>
                <p>
                  AI-Powered Test Case & Intelligent Synthetic data Generation
                </p>
              </div>
            </div>
            <!-- Service Item End -->
          </div>
          <div class="col-xl-4 col-sm-6">
            <!-- Service Item Start -->
            <div class="service-item-04">
              <div class="service-img">
                <img
                  src="assets/images/tsq/logo/airis-logo-icon.png"
                  alt="AIris"
                />
              </div>
              <div class="service-content">
                <h3 class="title"><a>AIris </a></h3>
                <p>
                  an AI powered Visual Testing Solution with No-script approach
                </p>
              </div>
            </div>
            <!-- Service Item End -->
          </div>
        </div>
      </div>
    </div>
    <!-- Service Wrap End -->
  </div>
</div>
<!-- Service End -->

<!-- Service Start -->
<div
  class="section techwix-service-section-04 techwix-service-section-07 section-padding-02 padding-top-bottom"
>
  <div class="container">
    <!-- Service Wrap Start -->
    <div class="service-wrap">
      <div class="section-title text-center">
        <h3 class="sub-title color-3">Optimal security Solutions</h3>
        <h2 class="title">Industry Platform Coverage</h2>
      </div>
      <div class="service-content-wrap">
        <div class="row">
          <div class="col-lg-6">
            <!-- Experience Wrap Start -->
            <div class="">
              <img
                class="shape-1"
                src="assets/images/tsq/industries/insurance/Life-insurance-policy-lifecylce-landscape.png"
                alt=""
              />
              <!-- <div
                class="experience"
                style="background-image: url(assets/images/shape/exp-bg2.jpg)"
              >
                <h3 class="number">50%</h3>
                <span>Cost Saving</span>
              </div> -->
            </div>
            <!-- Experience Wrap End -->
          </div>
          <div class="col-lg-6">
            <!-- Service Content Start -->
            <div class="service-content industry-platform-coverage">
              <!-- <p class="text">
                As applications evolve, your automation needs to keep pace.
                Breez helps you expand coverage rapidly across web, mobile,
                APIs, and legacy platforms without spending cycles rewriting
                scripts or rebuilding frameworks.
              </p>
              <p class="text">
                Your team gets a consistent way to design, execute, and maintain
                tests that work across environments, including cloud-based
                headless runs for faster cycles.
              </p>
              <p class="text">
                No fragile locators. No script debt piling up. No long lead time
                before new features are validated.
              </p>
              <p class="text">
                With a single automation approach that adapts to your delivery
                model, quality becomes a driver on release velocity.
              </p> -->
              <h4>ERP & Core Insurance Systems</h4>
              <div class="service-list industry-platform-coverage-list">
                <ul>
                  <li>
                    <span class="service-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text"
                      >LIFE/ASIA – Policy servicing, underwriting,
                      endorsements</span
                    >
                  </li>
                  <li>
                    <span class="service-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text"
                      >Ingenium – Product configuration, billing, renewals</span
                    >
                  </li>
                  <li>
                    <span class="service-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text"
                      >Guidewire – End-to-end P&C lifecycle validation</span
                    >
                  </li>
                </ul>
              </div>

              <h4>Peripheral Systems</h4>
              <div class="service-list industry-platform-coverage-list">
                <ul>
                  <li>
                    <span class="service-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text"
                      >Digital onboarding & KYC platforms</span
                    >
                  </li>
                  <li>
                    <span class="service-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text">CRM & Agent portals</span>
                  </li>
                  <li>
                    <span class="service-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text"
                      >Payment gateways & billing systems</span
                    >
                  </li>
                  <li>
                    <span class="service-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text"
                      >Regulatory reporting systems</span
                    >
                  </li>
                  <li>
                    <span class="service-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text"
                      >Data warehouses & analytics layers</span
                    >
                  </li>
                </ul>
              </div>
            </div>
            <!-- Service Content En -->
          </div>
        </div>
      </div>
    </div>
    <!-- Service Wrap End -->
  </div>
</div>
<!-- Service End -->

<!-- Service Start -->
<div class="section techwix-service-section-05 padding-top-bottom">
  <div class="container">
    <!-- Service Wrap Start -->
    <div class="service-wrap section-padding-02">
      <div class="section-title text-center">
        <h3 class="sub-title">From Chaos to Control</h3>
        <h2 class="title">
          Feature Mapping: <br />
          Insurance Challenges vs TesQuirel Solutions
        </h2>
      </div>
      <div class="service-content-wrap">
        <div class="row">
          <div class="col-xl-12 col-sm-12">
            <table
              class="table table-striped table-hover table-striped-columns table-bordered"
            >
              <tr>
                <th></th>
                <th>Industry Challenge</th>
                <th>Our Solution</th>
              </tr>

              <tr>
                <td>Policy Lifecycle Complexity</td>
                <td>Multiple policy states, endorsements, riders, renewals</td>
                <td>
                  Breez models end-to-end policy workflows visually Reusable
                  components for issuance, endorsement, renewal
                </td>
              </tr>
              <tr>
                <td>Frequent Product & Rule Changes</td>
                <td>High test maintenance due to frequent product launches</td>
                <td>
                  No-script automation minimizes rework VeritAI generates
                  updated test scenarios from new specs
                </td>
              </tr>
              <tr>
                <td>Regulatory & Compliance Risk</td>
                <td>
                  IRDAI / global compliance failures cause delays and penalties
                </td>
                <td>
                  Traceability between requirements, tests, and outcomes
                  AI-driven coverage validation for regulatory rules
                </td>
              </tr>
              <tr>
                <td>Long Regression Cycles</td>
                <td>
                  Release cycles delayed due to extensive regression testing
                </td>
                <td>
                  Breez enables rapid regression execution without scripting
                  Risk-based test prioritization using VeritAI insights
                </td>
              </tr>
              <tr>
                <td>Test Data & Scenario Explosion</td>
                <td>
                  Thousands of combinations across age, sum assured, riders,
                  geography
                </td>
                <td>
                  VeritAI auto-generates edge cases and negative scenarios
                  Data-driven test models in Breez
                </td>
              </tr>
            </table>

            <!-- <h4>Why Breez for Insurance Test Automation</h4>
            <div class="service-list">
              <ul>
                <li>
                  <span class="service-icon"><i class="fas fa-check"></i></span>
                  <span class="service-text"
                    >No-script automation usable by QA, business analysts, and
                    SMEs</span
                  >
                </li>
                <li>
                  <span class="service-icon"><i class="fas fa-check"></i></span>
                  <span class="service-text"
                    >Faster on-boarding for large QA teams</span
                  >
                </li>
                <li>
                  <span class="service-icon"><i class="fas fa-check"></i></span>
                  <span class="service-text"
                    >Highly reusable insurance process components</span
                  >
                </li>
                <li>
                  <span class="service-icon"><i class="fas fa-check"></i></span>
                  <span class="service-text"
                    >Seamless CI/CD integration for continuous testing</span
                  >
                </li>
                <li>
                  <span class="service-icon"><i class="fas fa-check"></i></span>
                  <span class="service-text"
                    >Ideal for legacy + modern hybrid environments</span
                  >
                </li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Service Wrap End -->
  </div>
</div>
<!-- Service End -->

<!-- Choose Us Start -->
<div
  class="section techwix-choose-us-section techwix-choose-us-section-04 section-padding padding-top-bottom"
>
  <div class="container">
    <!-- Choose Us Wrap Start -->
    <div class="choose-us-wrap">
      <div class="choose-us-content-wrap">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6">
            <!-- Choose Us Item Start -->
            <div class="choose-us-item-02">
              <!-- <div class="choose-us-img">
                <img src="assets/images/ser-icon10.png" alt="" />
              </div> -->
              <div class="choose-us-content">
                <h3 class="title">
                  <a href="#">Why Breez for Insurance Test Automation</a>
                </h3>
                <!-- <p>
                  Accelerate innovation with world-class tech teams We’ll match
                  you to an entire.
                </p> -->
                <div class="service-list">
                  <ul>
                    <li>
                      <span class="service-icon fp-icon"
                        ><i class="fas fa-check"></i
                      ></span>
                      <span class="service-text"
                        >No-script automation usable by QA, business analysts,
                        and SMEs</span
                      >
                    </li>
                    <li>
                      <span class="service-icon fp-icon"
                        ><i class="fas fa-check"></i
                      ></span>
                      <span class="service-text"
                        >Faster on-boarding for large QA teams</span
                      >
                    </li>
                    <li>
                      <span class="service-icon fp-icon"
                        ><i class="fas fa-check"></i
                      ></span>
                      <span class="service-text"
                        >Highly reusable insurance process components</span
                      >
                    </li>
                    <li>
                      <span class="service-icon fp-icon"
                        ><i class="fas fa-check"></i
                      ></span>
                      <span class="service-text"
                        >Seamless CI/CD integration for continuous testing</span
                      >
                    </li>
                    <li>
                      <span class="service-icon fp-icon"
                        ><i class="fas fa-check"></i
                      ></span>
                      <span class="service-text"
                        >Ideal for legacy + modern hybrid environments</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Choose Us Item End -->
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6">
            <!-- Choose Us Item Start -->
            <div class="choose-us-item-02">
              <!-- <div class="choose-us-img">
                <img src="assets/images/ser-icon12.png" alt="" />
              </div> -->
              <div class="choose-us-content">
                <h3 class="title">
                  <a href="#">Why VeritAI for Insurance Test Intelligence</a>
                </h3>
                <!-- <p>
                  Accelerate innovation with world-class tech teams We’ll match
                  you to an entire.
                </p> -->
                <div class="service-list">
                  <ul>
                    <li>
                      <span class="service-icon fp-icon"
                        ><i class="fas fa-check"></i
                      ></span>
                      <span class="service-text"
                        >AI-generated test cases from: (Product specifications,
                        Business rules, User stories, Process Flow diagrams,
                        Wireframes / Application flows)</span
                      >
                    </li>
                    <li>
                      <span class="service-icon fp-icon"
                        ><i class="fas fa-check"></i
                      ></span>
                      <span class="service-text"
                        >Improved coverage for regulatory and edge cases</span
                      >
                    </li>
                    <li>
                      <span class="service-icon fp-icon"
                        ><i class="fas fa-check"></i
                      ></span>
                      <span class="service-text"
                        >Reduced dependency on manual test design</span
                      >
                    </li>
                    <li>
                      <span class="service-icon fp-icon"
                        ><i class="fas fa-check"></i
                      ></span>
                      <span class="service-text"
                        >Optimized test cases for quick execution</span
                      >
                    </li>
                    <li>
                      <span class="service-icon fp-icon"
                        ><i class="fas fa-check"></i
                      ></span>
                      <span class="service-text"
                        >Risk identification and marking for Regression
                        suite</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Choose Us Item End -->
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6">
            <!-- Choose Us Item Start -->
            <div class="choose-us-item-02">
              <!-- <div class="choose-us-img">
                <img src="assets/images/ser-icon9.png" alt="" />
              </div> -->
              <div class="choose-us-content">
                <h3 class="title"><a href="#">Business Value Delivered</a></h3>
                <ul>
                  <li>
                    <span class="service-icon fp-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text"
                      >Up to 70% reduction in test maintenance</span
                    >
                  </li>
                  <li>
                    <span class="service-icon fp-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text"
                      >Regression cycles reduced from days to hours</span
                    >
                  </li>
                  <li>
                    <span class="service-icon fp-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text"
                      >Higher regulatory confidence and audit readiness</span
                    >
                  </li>
                  <li>
                    <span class="service-icon fp-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text"
                      >Faster product launches and market responsiveness</span
                    >
                  </li>
                  <li>
                    <span class="service-icon fp-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text"
                      >Better collaboration between business, QA, and IT</span
                    >
                  </li>
                </ul>
              </div>
            </div>
            <!-- Choose Us Item End -->
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6">
            <!-- Choose Us Item Start -->
            <div class="choose-us-item-02">
              <!-- <div class="choose-us-img">
                <img src="assets/images/counter-3.png" alt="" />
              </div> -->
              <div class="choose-us-content">
                <h3 class="title"><a href="#">Who Benefits</a></h3>
                <ul>
                  <li>
                    <span class="service-icon fp-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text"
                      >Life & General Insurance Companies</span
                    >
                  </li>
                  <li>
                    <span class="service-icon fp-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text">Digital-first InsurTechs</span>
                  </li>
                  <li>
                    <span class="service-icon fp-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text"
                      >Third-party Administrators (TPAs)</span
                    >
                  </li>
                  <li>
                    <span class="service-icon fp-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text"
                      >Product Vendors implementing LIFE/ASIA, Ingenium,
                      Guidewire</span
                    >
                  </li>
                  <li>
                    <span class="service-icon fp-icon"
                      ><i class="fas fa-check"></i
                    ></span>
                    <span class="service-text"
                      >QA & Digital Transformation Leaders</span
                    >
                  </li>
                </ul>
              </div>
            </div>
            <!-- Choose Us Item End -->
          </div>
        </div>
      </div>
    </div>
    <!-- Choose Us Wrap End -->
  </div>
</div>
<!-- Choose Us End -->

<!-- Skill Start -->
<div
  class="section techwix-skill-section-02 section-padding padding-top-bottom"
  style="background-image: url(assets/images/bg/skill-bg.jpg)"
>
  <div class="container">
    <div class="skill-wrap">
      <div class="row">
        <div class="col-lg-6">
          <!-- Skill Left Start -->
          <div class="skill-left">
            <div class="section-title">
              <h2 class="title">Transform Insurance Quality with Confidence</h2>
            </div>
            <div class="experience-wrap">
              <div class="experience-text ml-0">
                <p>
                  TesQuirel Solutions helps insurers move from reactive testing
                  to proactive, intelligent quality engineering, ensuring every
                  release is faster, safer, and compliant.
                </p>
                <ul class="unordered-list">
                  <li>
                    <i class="fas fa-hand-point-right"></i>Talk to our Insurance
                    QA Experts
                  </li>
                  <li>
                    <i class="fas fa-hand-point-right"></i>Request a Demo of
                    Breez & VeritAI
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Skill Left End -->
        </div>
        <div class="col-lg-6">
          <img
            src="assets/images/tsq/industries/insurance/insurance-banner.jpg"
          />
          <!-- Skill Right Start -->
          <div class="skill-right"></div>
          <!-- Skill Right End -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Skill End -->
