<div class="banner">
  <div class="swiper" #swiperEl>
    <div class="swiper-wrapper">
      <br>
      <br>
      <br>
      
      <div class="swiper-slide">
        <img src="assets/images/tsq/home/banners/slider-1.jpg" alt="Slide 1">
      </div>
      <div class="swiper-slide">
        <img src="assets/images/tsq/home/banners/slider-2.jpg" alt="Slide 2">
      </div>
      <div class="swiper-slide">
        <img src="assets/images/tsq/home/banners/slider-3.jpg" alt="Slide 3">
      </div>
      <div class="swiper-slide">
        <img src="assets/images/tsq/home/banners/slider-4.jpg" alt="Slide 4">
      </div>
    </div>
    <div class="swiper-pagination" #paginationEl></div>
    <div class="swiper-button-next" #nextEl></div>
    <div class="swiper-button-prev" #prevEl></div>
  </div>
</div>

