.techwix-hero-section-06 {
  padding-top: 60px;
  height: 100vh;
}

.techwix-skill-section-02 .skill-left .experience-wrap .experience-text {
  margin-left: 0px;
}

.techwix-hero-section-06 .hero-images {
  padding-top: 45px;
}

.techwix-cta-section-03 .cta-wrap {
  padding: 30px;
}

.attest-hero-img {
  height: 83vh;
}

.techwix-hero-section-06 .hero-content {
  padding-top: 130px;
}

.attest-title {
  font-size: 50px;
}
