.techwix-hero-section-03 {
  height: 100vh;
}

.techwix-hero-section-03 .shape-1 {
  top: -50%;
}

.techwix-hero-section-03 .hero-content .title {
  font-size: 48px;
}

.display-vertical-center {
  display: flex;
  align-items: center;
}

.why-others-images {
  padding: 5rem;
}
