<!-- Choose Us Start -->
<div
  class="section techwix-choose-us-section-02 section-padding-02 padding-top-bottom"
  style="background-image: url(assets/images/bg/choose-us-bg2.jpg)"
>
  <div class="container">
    <!-- Choose Us Wrap Start -->
    <div class="choose-us-wrap">
      <div class="row">
        <div class="col-lg-12">
          <!-- Choose Us Right Start -->
          <div class="choose-us-right">
            <!-- Faq Accordion Start -->
            <div class="faq-accordion">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <div class="accordion-header" id="heading-1">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#collapse-1'"
                      [attr.aria-expanded]="false"
                      [attr.aria-controls]="'collapse-1'"
                    >
                      <span class="title">Terms and Conditions</span>
                    </button>
                  </div>
                  <div
                    id="collapse-1"
                    class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'heading-1'"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <ul class="unordered-list">
                        <li>
                          This website and mobile application in the names of
                          www.tesquirel.com and TesQuirel Mobile App
                          respectively and operated by us.
                        </li>
                        <li>
                          TesQuirel Solutions respects the privacy of your
                          personal information and, as such, makes We do collect
                          your personal information and personal data in
                          accordance with IT Act 2000, ( 21 of 200) and other
                          national and state laws.
                        </li>
                        <li>
                          We have taken every effort to ensure your information
                          is protected and remains private. We will not use or
                          share your personal information with anyone except as
                          described in this Privacy Policy.
                        </li>
                        <li>
                          This Privacy Policy, which is part of and linked to
                          the TesQuirel Solutions Terms of Services Agreement
                          accessible here, will inform you about the types of
                          personal data we collect, the purposes for which we
                          use the data, the ways in which the data is handled
                          and your rights with regard to your personal data.
                        </li>
                        <li>
                          By registering on the website and downloading the
                          mobile application, you acknowledge that you have read
                          and agree to this Privacy Policy and provide explicit
                          consent at the time of your registration for your
                          account, and by accessing or using our Services, you
                          consent to the collection, transfer, manipulation,
                          storage, disclosure and other uses of your information
                          (collectively, “Use of Your Information”) as described
                          in this Privacy Policy and our Terms of Service which
                          may be accessed here. If you do not, or no longer,
                          agree with or consent to this Privacy Policy and our
                          Terms of Service you may not access or use our
                          Services.
                        </li>
                        <li>
                          For purposes of this Privacy Policy, “Your
                          Information” or “Personal Data” means information
                          about you, which may be of a confidential or sensitive
                          nature and may include personally identifiable
                          information (“PII”). PII means individually
                          identifiable information that would allow us to
                          determine the actual identity of a specific living
                          person, while sensitive data may include information,
                          comments, content and other information that you
                          voluntarily provide.
                        </li>
                        <li>
                          For the purpose of this Privacy Policy the data
                          controller of personal data is TesQuirel Solutions.
                          Data controller means the natural or legal person who
                          (either alone or jointly or in common with other
                          persons) determines the purposes for which, and the
                          manner in which, any personal information is
                          processed.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-header" id="heading-2">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#collapse-2'"
                      [attr.aria-expanded]="false"
                      [attr.aria-controls]="'collapse-2'"
                    >
                      <span class="title">How we collect the Information</span>
                    </button>
                  </div>
                  <div
                    id="collapse-2"
                    class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'heading-2'"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <ul class="unordered-list">
                        <li>
                          We collect information about you when you use our
                          Website or App to access our services, and other
                          online services (collectively, the “Services”) and
                          through other interactions and communications you have
                          with us.
                        </li>
                        <li>
                          Information about usage of our website and application
                          including crash logs and usage statistics.
                        </li>
                        <li>
                          We automatically collect using “Cookies” to help us
                          improve our services, marketing activities and your
                          experience, among other things.
                        </li>
                        <li>
                          We collect information you provide directly to us,
                          such as when you request information, create or modify
                          your personal account, complete a TesQuirel Solutions
                          form, survey, questionnaire or application, contact
                          support, make a purchase, join or enrol for an event
                          or otherwise communicate with us in any manner. This
                          information may include, without limitation: name,
                          date of birth, e-mail address, phone number, profile
                          photograph or any other personal information you
                          choose to provide.
                        </li>
                        <li>
                          We may also receive information from other sources
                          like public databases and social media platforms.
                        </li>
                        <li>
                          We retain this information as long as it is required
                          to provide the required services and support to you
                          and for such a period as mandated by concerned laws.
                        </li>
                        <li>
                          We will never sell your information to a third party
                          (for example for advertising.). We primarily use your
                          information to provide you with the Service. We also
                          use it to improve the Service. We would only ever
                          share it with a third part if it was clear that this
                          was a part of the Service you were signing up for.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-header" id="heading-3">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#collapse-3'"
                      [attr.aria-expanded]="false"
                      [attr.aria-controls]="'collapse-3'"
                    >
                      <span class="title">Use of your Information</span>
                    </button>
                  </div>
                  <div
                    id="collapse-3"
                    class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'heading-3'"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <ul class="unordered-list">
                        <li>
                          We will use the information provided by you and
                          collected from other sources for betterment of our
                          services and communication with you.
                        </li>
                        <li>
                          Any information so received will not be used for any
                          other purpose or will be provided to third parties for
                          any marketing or other activities.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-header" id="heading-4">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#collapse-4'"
                      [attr.aria-expanded]="false"
                      [attr.aria-controls]="'collapse-4'"
                    >
                      <span class="title"
                        >Revisions to this Privacy Policy</span
                      >
                    </button>
                  </div>
                  <div
                    id="collapse-4"
                    class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'heading-4'"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <ul class="unordered-list">
                        <li>
                          We may make modifications to this Privacy Policy from
                          time to time. If we decide to change this Privacy
                          Policy, we will inform you by sending you a notice to
                          your registered email address and by posting the
                          revised Privacy Policy on the Site and in the App. If
                          the changes to the Privacy Policy are significant, the
                          email notice we send you will require you to accept
                          the revised Privacy Policy terms. Those changes will
                          go into effect on the “Last updated” date shown at the
                          end of this Privacy Policy.
                        </li>
                        <li>
                          By continuing to use the Site or Services, you consent
                          to the revised Privacy Policy. We encourage you to
                          periodically review the Privacy Policy for the latest
                          information on our privacy practices.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Faq Accordion End -->
          </div>
          <!-- Choose Us Right End -->
        </div>
      </div>
    </div>
    <!-- Choose Us Wrap End -->
  </div>
</div>
<!-- Choose Us End -->
