.contact-map-section .contact-map-wrap iframe {
  filter: none;
}

.techwix-contact-section-03 {
  padding-top: 30px;
}

.contact-info-section .contact-info-wrap .single-contact-info .info-content p {
  text-align: center;
}
